<div *ngIf='userid == "guest"; else addCommitteeForm'>
  You need to login to add committees.<br />
  However, you can visualise using our
  <a href="/visualise">public data</a> if you wish.
</div>

<ng-template #addCommitteeForm>
<div class="row">
    <div class="col-sm-7" id="committees">
      <form class="form-group bg-light" [formGroup]="committeeForm" (ngSubmit)="addCommitteeForm()">
      <h3> Committee information </h3>
      <div *ngIf="membersExist" class="text-warning"> You need to add members to the committee before submitting. </div>
      <div *ngIf="committeeDateInvalid" class="text-warning"> You need to add members to the committee before submitting. </div>
      <div class="row">
      <div class="col-sm-6">
      <label> What is the name of the committee</label>
      <input id="name" formControlName="name" type="hidden" class="form-control input-sm" value="{{currCommitteeKey}}" required />
      <input id="name" formControlName="name" type="text" class="form-control input-sm" value="{{currCommittee.name}}" required />
      <label> Give the committee an abbreviated name (so it looks good on a graph)</label>
      <input id="abbreviation" formControlName="abbreviation" type="text" class="form-control input-sm" value="{{currCommittee.abbreviation}}" required />
      <label> Give it a formal tag for grouping  (eg. "Ming Dynasty" or "34th Session of Parliament")</label>
      <input id="session" formControlName="session" type="text" class="form-control input-sm" value="{{currCommittee.session}}" required />
      <label> If you wish, use some tags to access it later (eg. "politics"). Separate with a comma.</label>
      <input id="tags" formControlName="tags" type="text" class="form-control input-sm" value="{{currCommittee.tags.join()}}" required />

      <label> When did it start? </label>
      <input id="date" formControlName="date" type="date" class="form-control input-sm" value="{{currCommittee.date}}" />
      <label> When did it end? (empty for present)</label>
      <input id="date" formControlName="enddate" type="date" class="form-control input-sm" value="{{currCommittee.enddate}}" />
    </div>
  <div class="col-sm-6">
<ng-template #committeesModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Available Committees</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul *ngFor="let committee of committees | async" class="list-group">
      <li class="list-group-item" (click)="currCommittee=committee; currCommitteeKey=committee.key; c()"> {{committee.abbreviation}} -- {{committee.name}} ({{committee.membership.length}} members)
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
  </div>
</ng-template>
<button type="button" class="btn btn-primary" (click)="showModal(committeesModal)">
Edit Existing Committee
</button>
   <button class="btn btn-secondary" (click)="committeeCollapse = !committeeCollapse">Toggle Full Committee Form</button>
   <div [collapse]="committeeCollapse">
      <label> What country can I find this committee? </label>
      <select id="country" formControlName="country" class="form-control input-sm" value="{{currCommittee.country}}">
        <option value="au">au / Australia</option>
        <option value="ca">ca / Canada</option>
        <option value="cn">cn / 中国</option>
        <option value="fr">fr / France</option>
        <option value="gr">gr / Ελληνικά</option>
        <option value="il">il / ישראל</option>
        <option value="ir">ir / ایران</option>
        <option value="ru">ru / Россия </option>
        <option value="nz">nz / New Zealand</option>
        <option value="uk">uk / United Kingdom</option>
        <option value="us">us / United States</option>
      </select>
      <label>  How about a jurisdiction (State/Province, City etc. )</label>
      <input id="jurisdiction" formControlName="jurisdiction"  class="form-control input-s" value="{{currCommittee.jurisdiction}}"/><br />
      <label> Describe this committee </label>
      <textarea id="description" formControlName="description" type="textarea" rows="5" class="form-control" value="{{currCommittee.description}}"></textarea>
    <label> Any other notes you want to provide? </label>
    <textarea id="notes" formControlName="notes" class="form-control" rows="5" value="{{currCommittee.notes}}"> </textarea>
  </div>
  <br /><br />
  <button class="btn btn-primary" type="submit">Add Committee</button>
  </div>
  </div>
</form>
  </div>
  <div class="col-sm-5">

    <h3> Members </h3>
    <button class="btn btn-secondary" (click)="memberCollapse = !memberCollapse">Toggle Full Member Form</button>
    <p> You can add members to your committee here. Entries here will be used to map committees against each other. </p>
    <form class="form-group" [formGroup]="memberForm" (ngSubmit)="addMemberForm()">
      <div class="row">
        <div *ngIf="nameInvalid" class="text-warning">
              Full Name + Middle Initial is Required</div>
        <div *ngIf="existsAlready" class="text-warning">
                    Name seems to exist already (multiple entries not supported for now)</div>
      <div class="col-sm-4">
    <label>First Name (required):</label>

    <input #first id="MemberFirst" formControlName="firstName" type="text" class="form-control input-sm" value="{{currMember.firstName}}" required />
  </div>
  <div class="col-sm-4">
    <label>Last Name (required):</label>
    <input #last id="MemberLast" formControlName="lastName" type="text" class="form-control input-sm" value="{{currMember.lastName}}" required />
</div>
<div class="col-sm-4">
    <label>Middle Name (init required):</label>
    <input #middle id="MemberMiddle" formControlName="middleName" type="text" class="form-control input-sm" value="{{currMember.middleName}}" />
</div>
<div class="row">
  <div *ngIf="memberDateInvalid" class="text-warning">
        End date must be later than start date</div>
<div class="col-sm-6">
    <label>When did they join? </label>
    <input #elected id="MemberDate" formControlName="elected" type="date" class="form-control input-sm" value="{{currMember.elected}}" />
</div>
<div class="col-sm-6">
    <label>When did they finish (empty for current members)?</label>
    <input #finished id="MemberEnddate" formControlName="finished" type="date" class="form-control input-sm" value="{{currMember.finished}}"/>
    <button class="btn btn-primary" type="submit">Add Member &gt;</button>
</div>
</div>
</div>
<div [collapse]="memberCollapse">
<div class="row">
<div class="col-sm-6">
    <label>What Affiliation (eg political party)?</label>
    <input #party id="MemberParty" formControlName="party" type="text" class="form-control input-sm" value="{{currMember.party}}" />
</div>
<div class="col-sm-6">
    <label>What Profession (eg Doctor, Artist etc.)?</label>
    <input #profession id="MemberProfession" formControlName="profession" type="text" class="form-control input-sm" value="{{currMember.profession}}" />
    <label>You can provide the member with a weight (eg. how many meetings did they attend?)</label>
    <input #weight id="MemberWeight" formControlName="weight" type="number" class="form-control input-sm" value="{{currMember.weight}}" />
</div>
</div>

</div>
</form>
  <ul id="members" [(ngModel)]="members" *ngFor="let member of members" class="list-group" ngDefaultControl>
  <li class="list-group-item"><span (click)="fillMemberForm(member)">{{member.displayName}} ({{member.elected}} to {{member.finished}}) </span><button type="button" class="btn btn-light" (click)="removeMember(member)"><span class="glyphicon glyphicon-remove-sign">x</span></button>
  </ul>
  </div>
</div>
</ng-template>
