<div class="row">
  <div class="col-sm-8">
  <div class="card card-default bg-light p-3">
<div class="card-heading"></div>

<div class="card-body"><p>'Bivariate' networks have two variables, often committees and their members.
Because committees have many members and people can be members of different committees we can observe:</p>

<ul class="list-group">
  <li class="list-group-item">What committees are of general interest and which "unique".</li>
  <li class="list-group-item">The social structure formed by who joins what committee.</li>
  <li class="list-group-item">The density or sparseness of this structure. For example,
    do the members join multiple committees, or just a few?</li>
  <li class="list-group-item">What subclasses of members (eg. professions) join different committees?</li>
</ul>
</div>
</div>
</div>
</div>
