<div class="row">
  <div class="panel panel-default">
<div class="panel-heading"><p>
  This project is a demonstration of basic bivariate network analysis.<p></div>

<div class="panel-body"><p>'Bivariate' networks are different from typical social network graphs in
  that there are two variables.  While these can be any two variables, for
  'network' analysis, the focus is often "committees" and "members."  These
variables are interrelated because committees will tend to have many members
and people can be members of different committees. That means we can look
a number of different questions like:</p>

<ul class="list-group">
  <li class="list-group-item">What committees have more general interest (what committees are "unique")</li>
  <li class="list-group-item">What social structures are implied by the network structure? (Are people in "sports"
    associations more likely to join business committees as well?)</li>
  <li class="list-group-item">How dense or sparse is the network? (Do many members join multiple committees?)</li>
  <li class="list-group-item">Can we infer that different subclasses of members (eg. professions) join different committees?</li>
</ul>
</div>
</div>
</div>
