
<div class="container">
  <div class="row">
    <div class="col-sm-11">
      <div *ngIf="(user | async)?.uid"> Welcome {{(user | async)?.displayName}}! </div>
    </div>
    <div class="col-sm-1">
    <button (click)="login()" *ngIf="!(user | async)?.uid">Login Using Google</button>
    <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
  </div>
  </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
      <h2 class="display-3 text-primary"> {{title}} </h2>
      <p class="lead"> See the interelationship between committees and their membership </p>
    </div>
  </div>
<!-- Create navigation bar here -->
<div class="row">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" routerLink="/"> Home </a> </li>
<li class="nav-item"><a class="nav-link" routerLink="/add">Add a Committee</a> </li>
<li class="nav-item"><a class="nav-link" routerLink="/visualise"> Visualize </a></li>
<li class="nav-item"><a class="nav-link disabled" href="/comment"> Contact </a></li>
<li class="nav-item"><a class="nav-link disabled" href="/about"> Explanation </a></li>
</ul>
</div>

  <router-outlet></router-outlet>

<!-- Footer here -->

</div>
