div.graphTitle {
  float:right;
}

#graph svg {
    background: #999900;
    display: inline-block;
    vertical-align: top; /* here */
    border: 1px;
    margin: 3px 3px 3px 3px;
}
#summary {
  float: right;
  width: 600px;
}

div.fileNames {
  float:right;
  vertical-align: bottom;
}

div.dimensions {
  float:right;
}

svg circle.column_coords {
  opacity: 0.0;
  fill: "blue";
}

svg circle.row_coords {
  opacity: 0.5;
  fill: rgba(255, 0, 0, 0.5);

}
/*
.table tr.spacer.active td {
  background-color:#999999;
  color: white;
}
*/
